extends layout.user.pug

block append css
    link(rel="stylesheet" href="/apps/settings/css/settings.css")

block append scripts
    script(src="/apps/settings/js/usersettings.js"  nonce="" defer="")
    script(src="/apps/settings/js/templates.js"  nonce="" defer="")
    script(src="/apps/settings/js/federationsettingsview.js"  nonce="" defer="")
    script(src="/apps/settings/js/federationscopemenu.js"  nonce="" defer="")

    script(src="/apps/settings/js/settings/personalInfo.js"  nonce="" defer="")

    script(src="/dist/settings-vue-settings-personal-info.js"  nonce="" defer="")
    script(src="/dist/settings-vue-settings-nextcloud-pdf.js"  nonce="" defer="")

    script(src="/apps/settings/js/settings.js"  nonce="" defer="")
    script(src="/dist/settings-legacy-admin.js"  nonce="" defer="")

block content
    #app-navigation.without-app-settings(role="navigation")
        ul(tabindex="0")
            li.app-navigation-caption Personal
    #app-content(tabindex="0")
        #personal-settings(data-federation-enabled='false', data-lookup-server-upload-enabled='false')
            h2.hidden-visually Personal Info
            #personal-settings-avatar-container.personal-settings-container
                #vue-avatar-section
                .personal-settings-setting-box.personal-settings-group-box.section
                    #vue-details-section
            .personal-settings-container
                .personal-settings-setting-box
                    #vue-displayname-section
                .personal-settings-setting-box
                    #vue-email-section
                .personal-settings-setting-box
                    #vue-phone-section
                .personal-settings-setting-box
                    #vue-location-section
                .personal-settings-setting-box
                    #vue-website-section
                .personal-settings-setting-box
                    #vue-twitter-section
                .personal-settings-setting-box
                    #vue-organisation-section
                .personal-settings-setting-box
                    #vue-role-section
                .personal-settings-setting-box
                    #vue-headline-section
                .personal-settings-setting-box
                    #vue-biography-section
            .profile-settings-container
                .personal-settings-settings-box
                    #vue-profile-section
                .personal-settings-setting-box.personal-settings-language-box
                    #vue-language-section
                .personal-settings-setting-box.personal-settings-locale-box
                    #vue-locale-section
                span.msg
            #personal-settings-group-container
        .personal-settings-section
            #vue-profile-visibility-section
